
<!-- Navigation -->
<!--expands to fit larger screen sizes
fixed to top of screen so it will follow user
navbar-expand-lg makes the navbar grow when on a bigger screen size. It will no longer have the icon to open it-->
<nav class="navbar navbar-expand-lg fixed-top bg-white" id="mainNav">
  <!--Keeps navbar at bottom of the page at all times-->
  <a href="/"><h2 class="pl-2 nav-text">Command Prompt - Invasion2.0</h2></a>
  <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase rounded"data-toggle="collapse" data-target="#mobileMenu">
    <!--Creates an icon -->
  <i class="fas fa-bars"></i>
</button>
<!--Makes Nav bar collapse into an icon -->
  <div class="collapse navbar-collapse" id="mobileMenu">
    <ul class="navbar-nav text-uppercase ml-auto ">
      <li class="nav-item">
        <a class="nav-link nav-text" id="navLink1" href="#sendMessage"><p>Send Message</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" id="navLink2" href="#seeLocation"><p>Device Location</p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-text" id="navLink3" href="/"><p>Development Blog</p></a>
      </li>
    </ul>
  </div>
</nav>
