<!-- Navigation -->
<!--expands to fit larger screen sizes
fixed to top of screen so it will follow user
navbar-expand-lg makes the navbar grow when on a bigger screen size. It will no longer have the icon to open it-->
<nav class="navbar navbar-expand-lg" id="mainNav">
  <!--Keeps navbar at bottom of the page at all times-->
  <a class="navbar-brand js-scroll-trigger" href="/"><h1 class="pl-2 nav-text">FYP</h1></a>
  <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase rounded"data-toggle="collapse" data-target="#mobileMenu">
    <!--Creates an icon -->
  <i class="fas fa-bars"></i>
</button>
<!--Makes Nav bar collapse into an icon -->
  <div class="collapse navbar-collapse" id="mobileMenu">
    <ul class="navbar-nav text-uppercase ml-auto ">
      <li class="nav-item">
        <!-- hvr-overline is an animation from hover.css-->
        <a class="nav-link" id="navLink1" href="/">Nav</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navLink2" href="/">Nav</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="navLink3" href="/">Nav</a>
      </li>
    </ul>
  </div>
</nav>
