<section id ="coverPage" class ="bg-black">
  <div class = "d-flex justify-content-center h-100 align-items-center">
  <div> <h1 class="text-center">Welcome To Invasion 2.0...</h1> <div>
<!-- <div id="coverNav" class ="d-flex flex-row justify-content-center">
   <a id="navLink1" href="#sendMessage"><p class ="pr-5 text-center">Send Message</p></a>
    <a id="navLink1" href="#seeLocation"><p class="text-center">GPS Tracker</p></a>
     <a id="navLink1" href="#blog"><p class ="pl-5 text-center">Development Blog</p></a>
 </div> -->
</div>
</section>

<section id ="sendMessage" class ="d-flex flex-column justify-content-center align-items-center">
  <div>
  <h2 class="text-center"> C:\Invasion2.0> Send Message to Device...</h2>
</div>
  <div class = "mt-5">
  <div id ="msgTab">
    <div id ="msgTabHeader" class= "d-flex justify-content-between align-items-center">
            <h4 class ="blackFont ml-2"> SendMessageToDevice.exe </h4>
       <img src ="/img/closeButton.png">
    </div>
<div id ="msgTabContent" class ="d-flex justify-content-center align-items-center">
    <form id="msgToArduino">
       <b>Message:</b>
       <input id="customMsg" type="text" name="customMsg" value=""><br><br>
       <!-- On button click, trigger sendData function -->
       <input type="button" onclick="sendData()" value="Send Message">
    </form>
  </div>
</div>
</div>

</section>

<section id ="seeLocation">

  <h2 class="text-center"> C:\Invasion2.0> Live GPS of Device...</h2>

  <div id ="gpsTab">
    <div id ="gpsTabHeader" class= "d-flex justify-content-between align-items-center">
            <h4 class ="blackFont ml-2"> LocationTrackingDevice.exe </h4>
       <img src ="/img/closeButton.png">
    </div>
<div id ="gpsTabContent" class ="d-flex flex-column justify-content-center align-items-center">

  <h3>Live Location of Device</h3>
  <!--The div element for the map -->
  <div id="map"></div>
  <p> Map updates every 10 seconds </p>

  </div>
</div>


<!-- Socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
// Initialise socket.io client side connection
var lat;
var lon;

var socket = io();
  function sendData() {
    // Get text input from form
    var data = document.getElementById('customMsg').value;
    // Trigger server side sendMsg function and send 'data'
    socket.emit('sendMsg', data)
}

socket.on('updateLocation', (latVal, lonVal) => {
console.log("Latitude:" + latVal + "Longitude:" + lonVal);
deviceLat = latVal;
deviceLon = lonVal;
initMap(deviceLat,deviceLon);
});

// Initialize and add the map
function initMap(deviceLat, deviceLon) {
// The location of Uluru
// var uluru = {lat: -25.344, lng: 131.036};
var arduinoLocation = {lat: deviceLat, lng: deviceLon};
// The map, centered at Uluru
var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 15, center: arduinoLocation});
// The marker, positioned at Uluru
var marker = new google.maps.Marker({position: arduinoLocation, map: map});
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyL7KSlLjfhj_8wb3MDTdh49EX1hr-zW8&callback=initMap">
</script>
