<p> Hello World </p>

<div class="wrapper">
         <h1>Send Message Demo</h1>
         <form id="msgToArduino">
            <b>Message:</b>
            <input id="customMsg" type="text" name="customMsg" value=""><br><br>
            <!-- On button click, trigger sendData function -->
            <input type="button" onclick="sendData()" value="Send Message">
         </form>

<!-- Socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
// Initialise socket.io client side connection
var socket = io();
  function sendData() {
    // Get text input from form
    var data = document.getElementById('customMsg').value;
    // Trigger server side sendMsg function and send 'data'
    socket.emit('sendMsg', data)
}
</script>
