<section id ="coverPage">
  <h1> This is a cover page </h1>
</section>

<section id ="sendMessage">
<div class="wrapper">
         <h1>Send Message to Arduino</h1>
         <form id="msgToArduino">
            <b>Message:</b>
            <input id="customMsg" type="text" name="customMsg" value=""><br><br>
            <!-- On button click, trigger sendData function -->
            <input type="button" onclick="sendData()" value="Send Message">
         </form>

<!-- Socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
// Initialise socket.io client side connection
var socket = io();
  function sendData() {
    // Get text input from form
    var data = document.getElementById('customMsg').value;
    // Trigger server side sendMsg function and send 'data'
    socket.emit('sendMsg', data)
}
</script>
</section>

<section id ="seeLocation">
  <div id="googleMap"></div>

  <script>

function myMap() {
var mapProp= {
  center:new google.maps.LatLng(55.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var locationMarker = new google.maps.Marker({
         map: map
       });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVd-gRAyjmXrvpVJAyFOFpvsxgDKUL7hE&callback=myMap"></script>
</section>
