/* Default Styling ------------------------------------------- */
html, body{
  /* Makes page take up full screen size */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Source Code Pro', monospace;
}

.bg-white{
  background-color: #E0E0E0;
}

.bg-black{
  background-color: black;
  width: 100%;
  height: 100vh;
}
p, h1, h2, h3, h4, h5, h6{
  color: #16C700;
}

h1{
  font-size: 70px;
}

p{
  font-size: 20px;
}

a{
  line-height: 40%;
  font-size: 30px;
}

.blackFont{
  color: black;
}

i:hover{
  color: red;
}


.nav{
  height: 10vh;
}

.navLink{
  font-size: 20px;
  color: #16C700;
}
.navLink:hover{
  color: red;
}
/* Cover Page Styling ------------------------------------------- */
#coverPage{
  height: 100vh;
  width: 100%;
}

/* Instructions/About Page Styling ------------------------------------------- */
#instructions{
padding-top: 10vh;
height: 100vh;
width: 100%;
background-color: black;
}
.ref{
  font-size: 20px;
  color: red;
}
.ref:hover{
  color: red;
}

.welcomePadding{
  padding-top: 2vh;
}
#instructions p{
  width: 90%;
}

#instructions img{
  height: 35vh;
  width: 35vw;
}

#instructions i{
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Send Message Page Styling ------------------------------------------- */
#sendMessage{
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#msgTab{
  background-color: white;
  height: 55vh;
  width: 35vw;
  box-shadow: 5px 10px #888888;
  margin-right: 2vw;
}

  #msgTabHeader{
    width: 100%;
    height: 10%;
    background-color: #E0E0E0;
  }
  #msgTabHeader img{
    height: 100%;
    width: 15%;
  }

  #msgTabContent{
    height: 90%;
  }

  #msgToArduino{
    height: 100%;
  }

  #customTab{
    background-color: white;
    height: 55vh;
    width: 50vw;
    box-shadow: 5px 10px #888888;
  }

    #customTabHeader{
      width: 100%;
      height: 10%;
      background-color: #E0E0E0;
    }
    #customTabHeader img{
      height: 100%;
      width: 10%;
    }

    #customTabContent{
      height: 90%;
    }

    #customTab button{
    width: 5vw;
    height: 5vh;
    }

  .whiteFont{
    color: white;
  }
  .red{
    background-color: red;
  }
  .orange{
    background-color: orange;
  }
  .yellow{
    background-color: yellow;
  }
  .yellow:hover{
    color: grey;
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  }
  .pink{
    background-color: pink;
  }
  .purple{
    background-color: purple;
  }
  .black{
    background-color: black;
  }
  .white{
    background-color: white;
    border-radius: 1px;
    border-color: black;
  }
  .white:hover{
    color: grey;
  }
/* Map Location Styling ------------------------------------------- */
#seeLocation{
  padding-top: 10vh;
  height: 90vh;
  /* width: 100vw; */
  background-color: black;
}

#gpsTab{
  background-color: white;
  height: 60vh;
  width: 40vw;
  box-shadow: 5px 10px #888888;
}

  #gpsTabHeader{
    width: 100%;
    height: 10%;
    background-color: #E0E0E0;
  }
  #gpsTabHeader img{
    height: 100%;
    width: 10%;
  }

  #gpsTabContent{
    height: 90%;
  }

#map{
  height: 70%;
  width: 80%;
}

/* Mobile Responsiveness -------------------------------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a{
    line-height: 80%;
  }

  h1{
    font-size: 50px;
  }

  p{
    font-size: 14px;
  }

  h2{
    font-size: 20px;
    padding: 5%;
  }

  h4{
    font-size: 15px;
  }

  .welcomePadding{
    padding: 0;
  }

  #instructions p, .ref{
    font-size: 14px;
  }

.tabs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#instructions img{
  height: 15vh;
}

#sendMessage{
  height: 140vh;
}
    #msgTab{
      height: 40vh;
      width: 80vw;
    }

#customTab{
  margin-top: 3vh;
  height: 60vh;
  width: 80vw;
}

#seeLocation{
  height: 100vh;
}
#gpsTab{
  height: 60vh;
  width: 80vw;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .typewriter {
  	/* width: 18ch; */
  	white-space: nowrap;
  	overflow: hidden;
  	border-right: 4px solid black;
  	animation: cursor 1s step-start infinite, text 2s steps(18),
    blink-caret .75s step-end infinite;
  }

  @keyframes cursor {
  	0%, 100% { border-color: black; }
  	50% { border-color: transparent; }
  }

  @keyframes text {
  	0% { width: 0; }
  	100% { width: 20ch; }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #16C700; }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
